DATABASE_URL=postgres://tg_pipeline:tg_pipeline_dev@localhost:5432/tg_pipeline
KAFKA_BROKERS=localhost:9092
JWT_ACCESS_SECRET=48cb7420231ee4a28326bd1f5085d0aa2e4db3bfa8056b716ba108b69346acf8
PORT=3002
LOG_LEVEL=info
